<div class="homepage" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/b9/4d/4f/b94d4f336d6cdbbc9332bd15027fd3bc.jpg);">
    <div class="container">
        <h1> CoCo Cocktail</h1>
        <p>Enjoy your creativity </p>
        <a class="click-here btn btn-flat" href="/cocktails">Discover more</a>
    </div>
</div>