
<h2> Add a New Cocktail </h2>
<div class="from-inputs">
<%= simple_form_for (@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
</div>
<div class="from-actions">
  <%= f.button :submit %>
  </div>
<% end %>
