<nav class="navbar ">
    <a class="navbar-brand" href="/cocktails">
        <i class="fas fa-glass-martini-alt"></i>
        CoCo Cocktail
    </a>
    <a href="/cocktails/new" class='add-cocktail'>Add A New Cocktail</a>
</nav>