.footer {
  clear: both; //prevents floating elements from right/left of footer
  z-index: 1; //z-index positions elements in front or behind eachother, most have a //natual z-index of -1
  width: 100%;
  position: relative;
  bottom: 0;
  right: 0;
  background: #1c1560;
  text-align: center;
  padding: 10px 0;
  p {
    color: white;
    font-size: 1rem;
    margin: 0;
  }
}

.footer-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.legal-footer {
  p {
    font-size: 0.1rem;
  }
}

#envelope-footer a {
  font-size: 0.5rem;
  color: white;
  margin-right: 10px;
}

.info-footer {
  display: flex;
  a {
    color: white;
    text-decoration: none;
    font-size: 0.5rem;
  }
}

.social-footer {
  a {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;
  }
}
