// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cocktail-index {
  display: flex;
  justify-content: center;
}

.list ul {
  list-style: none;
  padding: 0;
}
.dose-desc {
  padding-left: 2px;
}
.show-cocktail h1 {
  text-align: left;
}
.description {
  margin-top: 30px;
}
.review {
  margin-top: 22px;
}
#star {
  font-size: 22px;
}
.image-edit {
  width: 390px;
  margin: 0 auto;
  margin-top: 20px;
}

.review-list {
  margin-bottom: 20px;
}
.edit-form h2 {
  text-align: center;
  font: $body-font;
}
